@import url('https://fonts.googleapis.com/css?family=Mali|Pacifico&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    margin: auto;
    color: brown;
    font-family: 'Mali', sans-serif;
    height: 100%;
}

header {
    background-color: goldenrod;
    color: antiquewhite;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Pacifico', cursive;
}

header h1 {
    font-size: 2em;
    padding: 0px 0px 40px 100px;
}

img {
    padding: 15px 33%;
    width: 20%;
}

main {
    background-color: antiquewhite;
    margin: 0px;
    min-height: 150px;
    padding-left: 100px;
}

h2 {
    font-size: 1em;
    border-bottom: solid brown 1px;
    width: 60%;
    padding-top: 30px;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: goldenrod;
    color: antiquewhite;

}