@import url('https://fonts.googleapis.com/css?family=Mali|Pacifico&display=swap');
body {
	margin: auto;
    color: antiquewhite;
    background-color: antiquewhite;
    font-family: 'Mali', sans-serif;
}
header {
    text-align: center;
    color: brown;
}
h1,h2,h3,h4,h5,h6{
    color: brown;
	font-family: 'Pacifico', cursive;
}

main {
    background-color: antiquewhite;
	max-width: 767px;
	display: grid;
	grid-template-columns: 1fr;

}
img {
    border: 1px solid brown;
}
section {
    margin: 0.5rem;
    font-size: 1em;
	border: 1px solid brown;
	padding: 0 1rem;
	background-color: goldenrod;
}
footer {

    text-align: center;
    color: brown;

}