body{
    max-width: 600px;
    min-width: 550px;
    overflow: scroll;
    margin: auto;
    background-color: antiquewhite;
    color: brown;
}
header{
    height: 50px;
    text-align: center;
    background-color: goldenrod;
    color: antiquewhite;
    border-radius: 10px;
}
header h1{
    margin-left: -100px;
    padding-top: 5px;

}
main{
    min-height: 150px;
    padding-left: 35px;
    box-shadow: 5;
}
img {
    padding: 25px;
    float: right;
    max-width: 150px;

}
footer{
    min-height: 60px;
    padding-left: 35px;
    background-color: goldenrod;
    color: antiquewhite;
    border-radius: 5px;
    
}