.galleryfigure:hover{
    width: 300px;
    box-shadow: 10px 15px 10px #a9a9a9;
    text-shadow: 2px 2px 2px #a9a9a9; 
}

figcaption{
    color: #192a5f;
    font-size: 12px;
    display:flex;
    justify-content: center;
}

.griddiv{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
}