body {
    margin: 0 auto;

}

h1,
picture {
    display: grid;
    justify-content: center;
    margin: 15px;

}

h1 {
    font-family: 'Pacifico', cursive;
    color: #192a5f;

    picture img[data-src] {
        filter: blur(0em);
    }

    picture img {
        filter: blur(0em);
        transition: filter 0.5s;
    }