body {
    margin: 0 auto;

}

h1,
picture {
    display: grid;
    margin: 15px;

}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}