/*every page*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Roundp', sans-serif;
    color: #192a5f;
}

body {
    margin: 0 auto;
    font-family: 'Rokkitt', serif;
    color: #192a5f;

}

header {
    display: flex;
    flex-direction: row;
    background-color: #afb1b9;
    padding: 20px 40px;
}

#headingdiv {
    text-align: center;
}

header h1 {
    color: #ffff05;
    padding: 20px;
}

header img {
    width: 200px;
}

header h1 {
    padding: 0px 5px;
}

header p {
    margin-top: 2px;
    padding-left: 5px;
}

nav {
    margin: 0 auto;
    background-color: #192a5f;
    padding: 3px;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    padding: 10px;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.navigation li:hover {
    text-decoration: none;
    background-color: #ffff05;
    color: #192a5f;
}

.navigation li.active {
    background-color: #555555;
}

.responsive li {
    display: block;
    padding: 10px;
}

main {
    text-align: center;
    margin: 0 auto;
}

footer {
    background-color: #192a5f;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}
/* preston page*/
#herodiv {
    position: relative;
}

#summary {
    position: absolute;
    top: 10px;
    left: 12px;
    background-color: rgba(175, 177, 185, 0.8);
    border: 1px solid #192a5f;
    padding: 0px 5px;
}

#fivedayforcast {
    display: none;
}


#articlesection {
    margin: 10px auto;
    padding-top: 5px;
    text-align: left;
    width: 75%;
}

#articlesection h3 {
    margin: 50px 0 0px;
}

#articlediv {
    display: flex;
    flex-direction: column;
}

#rainimg {
    width: 300px;
    padding: 5px;
}

#mapph {
    width: 50%;
    display: none;
}

#contact {
    width: 75%;
    text-align: center;