@media only screen and (min-width: 60em) {    
	#headerimg {
        max-width:80%;
	}
	header h1{
		margin-top: 60px;
	}
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: yellow;
	}  
}