@media only screen and (min-width: 60em) {    
    header img {
        max-width:262px;
	}
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: yellow;
	}  
}