@import url('https://fonts.googleapis.com/css?family=Rokkitt|Varela+Round&display=swap');

body {
    margin: auto;
    font-family: 'Rokkitt', serif;
    color: #192a5f;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #afb1b9;
    padding: 5px;
}

header h1 {
    color: #ffff05;
    padding: 20px;
}

header img {
    max-width: 150px;
}

nav {
    margin: 0 auto;
    background-color: #192a5f;
    padding: 3px;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #ffff05;
    background-color: #192a5f;
}

.responsive li {
    display: block;
}

main {
    background-color: #afb1b9;
    padding: 25px 10%;
}

footer {
    background-color: #192a5f;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round', sans-serif;
    color: #192a5f;
}