/* Every Page*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Courgette', cursive;
    color: #1c2d44;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #1c2d44;
}

header {
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 800px;
}
main a{
    color: #1c2d44;
}
main a:hover{
    background-color: #fdb913;
    padding: 5px;
    box-shadow: 5px 5px 5px #1c2d44;
    text-decoration: none;
}
main img {
    border: 1px solid #25bbf3;
    margin: 15px auto;
    box-shadow: 5px 5px 5px #a9a9a9;
}
figure {
    margin: 10px auto;
    padding: 5px;
    background-color: lightgray;
    border-radius: 10px;
}
figcaption{
    text-align: center;
}
footer {
    text-align: center;
    background-color: #fdb913;
    padding: 5px;
}

/* Navigation */
nav {
    margin: 0 auto;
    padding: 3px;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    padding: 10px;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #1c2d44;
}

.navigation li:hover {
    text-decoration: none;
    background-color: #fdb913;
    color: #1c2d44;
}

.navigation li.active {
    background-color: lightgray;
}

.responsive li {
    display: block;
    padding: 10px;
}

/*home page*/
#homemian {
    max-width: 900px;
}
#homebutton button {
    padding: 5px 15px;
    border-color: #1c2d44;
    background-color: #fdb913;
    box-shadow: 2px 2px 5px black;
}

#hometemple {
    margin: auto;
    position: relative;
}

#homebutton {
    position: absolute;
    bottom: 80px;
    left: 170px;
}

#homemain {
    display: grid;
}

.homectwo {
    margin: auto;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;

}

#contact{
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    width: 550px;

}


#bap {
    flex-direction: column-reverse;
}

#homemain article {
    margin: auto;
}

#sealings,
#baptism {
    border-bottom: 2px solid #fdb913;
}

/*temples*/
#templemain{
    margin: 10px auto;
}
#templemain div{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}
#templemain img{
    max-width: 200px;

}
#templemain section{
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

/*reservation page*/
#reservationmain {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input#submit {
    text-align: center;
    margin: 10px auto;
    background-color: #25bbf3;
    color: #1c2d44;
    border-color: #1c2d44;
    box-shadow: 5px 5px 5px #1c2d44;
}

fieldset {
    border: solid 2px #fdb913;
    margin: 20px auto;
    padding: 20px 0px 30px 75px;
    max-width: 500px;
    text-align: left;
}

input,
select {
    display: block;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

#thanks {
    margin: 10px auto;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    width: 600px;

}

/*services page*/
#servicesmain {
    margin: 20px auto;
    max-width: 800px;
}

#servicesmain img{
    max-width: 200px;
}
#servicesmain div{
    display: flex;
    margin: 10px;
}

main a{
    color: #1c2d44;
}
main a:hover{
    background-color: #fdb913;
    padding: 5px;
    box-shadow: 5px 5px 5px #1c2d44;
    text-decoration: none;
}
#servicediv1 {
    flex-direction: column;
}
#servicediv2 {
    flex-direction: column;
}

/*contact page*/
#contactsection {
    display: flex;
    flex-direction: column;
}

#contactsection div{
    margin: auto;
    padding: 50px;
}

#contact2 {
    background-color: lightgray;
    border-radius: 10px;
}

/*sub pages*/
#subpagemain h1{
    text-align: center;
}
#subpagemain figure{
    max-width: 420px;
}
#subpagemain img{
    margin: auto;
}
#subpagemain {
    max-width: 1000px;
}
#subpage2 {
    display: flex;
    flex-direction: column;
}

#subpage3{
    text-align: center;
}

#subpage3 h2{
    background-color: #fdb913;
    padding: 10px;
    text-decoration: none;
}




