@media only screen and (min-width: 60em) {

    /*every page*/
    .navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
    }
    footer {
		margin: auto;
		max-width: 90%;
    }
    
    /*home page*/
    
main div{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
}