@media only screen and (min-width: 32.5em) {
/*every page*/
header {
    justify-content: center;
}

header h1 {
    padding: 0px 20px;
}

header p {
    padding-left: 20px;
}
/*home page*/
main div{
    grid-template-columns: 1fr 1fr;
}
#storytext {
    position: absolute;
    top: 175px;
    left: 125px;}
    box-shadow: 7px 7px 10px black;

}