@media only screen and (min-width: 60em) {
	#headerimg {
		max-width: 80%;
	}

	header h1 {
		margin-top: 60px;
	}

	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation li a {
		color: yellow;
	}

	main {
		margin: auto;
		padding: 5px;
		max-width: 90%;
	}
	#summary {
		max-width: 150px;
		position: absolute;
		top: 330px;
		left: 150px;
	}


	#forecastsection {
		padding-left: 60px;
	}

	main h3 {
		margin-bottom: 0;
	}

	footer {
		margin: auto;
		max-width: 90%;
	}
}