@import url('https://fonts.googleapis.com/css?family=Rokkitt|Varela+Round&display=swap');

body {
    margin: 0 auto;
    font-family: 'Rokkitt', serif;
    color: #192a5f;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #afb1b9;
    padding: 20px 40px;
}

header h1 {
    color: #ffff05;
    padding: 20px;
}

#headerimg {
    max-width: 200px;
}

header h1 {
    padding: 0px 5px;
}

header p {
    margin-top: 2px;
    padding-left: 5px;
}

nav {
    margin: 0 auto;
    background-color: #192a5f;
    padding: 3px;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.navigation a:hover {
    color: #ffff05;
    background-color: #192a5f;
}

.responsive li {
    display: block;
    padding: 10px;
}

main {
    background-color: #afb1b9;
    padding: 25px 10%;
    text-align: center;
    margin: 0 auto;
}

#hero-summary {
    position: relative;
}

#weather-img {
    margin: 0;
    width: 90%
    
}

#summary {
    background-color: #afb1b9;
    opacity: .8;
    border: none;
    padding: 0px 5px;
    max-width: 150px;
    position: absolute;
    top: 330px;
    left: 180px;
}

#fivedayforcast{
    padding-top: 5px;
    background-color:rgba(255, 255, 5,0.8);
    width: 75%;
    margin: 0 auto;
}

#forecastsection {
    display: flex;
    flex-direction: row;
    width: 90%;

}
#articlesection{
    margin: 0 auto;
    text-align: left;
    width: 90%;
}
#articlediv{
    display: flex;
    flex-direction: row;
}
#rainimg {
    width: 300px;
    padding: 5px;
}
#map-contact{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}
#mapph{
    width: 50%;
}
#contact{
    width: 50%;
    text-align: center;

}

footer {
    background-color: #192a5f;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round', sans-serif;
    color: #192a5f;
}