@media only screen and (min-width: 60em) {

	/*everypage*/
	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	main {
		margin: auto;
		padding: 5px;
		max-width: 90%;
	}

	/*home page*/

	#homemain div {
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 900px;
	}

	#homemain section {
		display: initial;
	}

	main section:nth-child(even) {
		flex-direction: row-reverse;
	}

	#storytext {
		top: 250px;
		left: 150px;
	}
}

/*galerry page*/

.griddiv {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

/*preston page*/
#articlediv {
	flex-direction: row;
}

main h3 {
	margin-bottom: 0;
}

footer {
	margin: auto;
	max-width: 900px;
}

#summary {
	position: absolute;
	top: 30px;
	left: 100px;

}