@media only screen and (min-width: 60em){
		/*everypage*/
	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	main {
		margin: auto;
		padding: 5px;
		max-width: 90%;
	}

	/*home page*/

	#homemain div {
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 900px;
	}

	#homemain section {
		display: initial;
	}

	#homemain section:nth-child(even) {
		flex-direction: row-reverse;
	}

	#storytext {
		top: 250px;
		left: 150px;
	}

	/*galerry page*/

	.galleryfigure:hover {
		width: 300px;
		box-shadow: 10px 15px 10px #a9a9a9;
		text-shadow: 2px 2px 2px #a9a9a9;
	}

	#gallerymain figure {
		margin-bottom: 10px;
	}

	#gallerymain {
		width: 100%;
		max-width: 900px;
	}

	.griddiv {
		grid-template-columns: 1fr 1fr 1fr;
	}

	/*content page*/

	footer {
		margin: auto;
		max-width: 900px;
	}

	#summary {
		position: absolute;
		top: 30px;
		left: 100px;
	}
}