@import url('https://fonts.googleapis.com/css?family=Rokkitt|Varela+Round&display=swap');



body {
    margin: auto;
    max-width: 80%;
    font-family: 'Rokkitt', serif;
    color: #192a5f;

}

header {
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #afb1b9;
    padding: 5px;
}
header h1{
    color: #ffff05;
    padding: 20px;
}


nav {
    text-align: center;
    background-color: #192a5f;
    padding: 3px;

}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

nav li {
    padding: 5px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;

}

a:hover {
    color: #ffff05;
}

main {
    background-color: #afb1b9;
    padding: 25px 10%;
}

footer {
    background-color: #192a5f;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}
#colormain p {
    width: 150px;
    display: inline;
    border: solid 1px #192a5f;
    padding: 5px;
}
#color1 {
    background-color: #ffffff
}

#color2 {
    background-color: #192a5f;
    color: #ffffff;
}

#color3 {
    background-color: #afb1b9
}

#color4 {
    background-color: #ffff05
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round', sans-serif;
    color: #192a5f;
}
